@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: your custom Valentine theme tweaks */
body {
  font-family: system-ui, sans-serif;
}

@font-face {
  font-family: 'DistantGalaxy';
  src: url('/fonts/DistantGalaxy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}